@use 'vars.scss' as *;
@use 'colors.scss' as *;

.button {
    display: flex;
    flex-direction: row;

    align-items: center;

    gap: $spacing;

    border: 1px solid transparent;

    cursor: pointer;

    padding-inline: $spacing-medium;
    padding-block: $spacing;

    border-radius: $border-radius;

    transition: $transition;

    word-wrap: none;
}

.button-transparent {
    background: transparent;

    border-color: transparent;

    color: $dark;
}

.button-transparent:active {
    color: $darkest;
}

.button-cta {
    background: $primary;

    border-color: $primary-dark;

    color: $darkest;
}

.button-cta:hover {
    background: $primary-light;
}

.button-cta:active {
    border-color: $primary;
}

.button-disabled {
    color: $dark;
    border-color: $dark;

    background: transparent;

    pointer-events: none;
}